body {
	background-color: #deefff;
}
.bedrijven {
	background-color: white;
}
footer div.footerbg {
	background: #d4d3d3;
    height: 100px;
    bottom: 0;
    width: 100%;
}

footer div.footerbg div.container {
  background: #e2e2e2;
  color: #22313E;
}

footer div.footerbg div.container div.row:last-child div {
  margin-top: 10px;
}

footer div.footerbg div.container div#hrline {
  border-bottom: 1px solid #525C66;
}

footer div.footerbg div.container div.row div.col-md-6 {
  height: 50px;
  line-height: 50px;
}

footer div.footerbg div.container div.row div.col-md-6.text-left form {
  margin: 0;
}
